@page
@model Lab5.Pages.Exams.IndexModel

@{
    ViewData["Title"] = "Список записів";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Створити новий запис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exam[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam[0].Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam[0].Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exam) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
