@page
@model Lab5.Pages.Teachers.IndexModel

@{
    ViewData["Title"] = "Список записів";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Створити новий запис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher[0].LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teacher) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
